{% extends 'base.html' %}


{% block head %}
{% endblock %}

{% block body %}

    <h1 style="text-align:center;" >Library Management System</h1>

    <div class="container">
        <a href="/searchbooks">Searching Books</a>
        <br><br>
        <a href="/books">All Available Books List</a>
        <br><br>
        <!-- <a href="/addbooks">Add More Books from Frappe</a>
        <br><br> -->
        <a href="/members">Library Members</a>
        <br><br>
        <a href="/addmember">Add Members to the Library</a>
        <br><br>
        <a href="/debts">Check Members Debts</a>
        <br><br>
        <a href="/reports">Reports</a>
    </div>

{% endblock %}
